.top-bar .container,
.content-area .container,
.container,
#container   {
    margin: auto;
}

.home-pages,
.home-pages-block{
    margin-bottom: 30px;
}

.home-pages .home-pages-block h5.category-title {
    bottom: 0;
    top: unset;
    bottom: 0;
    position: absolute;
    min-height: 3em;
    margin-bottom: 0;
    padding: 1em;
}

.home-pages h5.category-title  {
     width: 100%;
     background-color: rgba(0, 0, 0, .5)!important;
     
     
}
.home-pages h5.category-title {
    color: white;
}

/* grid */
.grid-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 25px;
}

/* lista de artigos na home */
.news-summary {
    margin-right: 0;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    position: absolute;
    bottom: 0px;
    width: 99.5%;
    color: white;
}

.news-snippet  {
    position: relative;
    min-height: 220px; 
    background-size: cover;
}

/* linha de posts recentes */
.recentes {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 2px solid;
    color: #000;    
    text-transform: uppercase;
    font-weight: 600;
}