/* 107 of 1025 CSS properties converted by rtl.daskhat.ir 
 These properties should be override originals. 
 just load rtl css file after original css file.*/ 

/* body {direction:rtl;} */

ul, ol{
    margin: 0 3em 1.5em 0 ;
}

li > ul, li > ol{
    margin-right: 1.5em;
}

.main-navigation{
    float: right;
}

.main-navigation ul{
    padding-right: 0;
}

.main-navigation li{
    float: right;
}

.main-navigation ul ul{
    float: right;
    right: -999em;
}

.main-navigation ul ul ul{
    right: -999em;
}

.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul{
    right: auto;
}

.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul{
    right: 100%;
}

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous{
    float: right;
}

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next{
    float: left;
    text-align: left;
}

.screen-reader-text:focus{
    right: 5px;
}

.alignleft{
    float: right;
    margin-left: 1.5em;
}

.alignright{
    float: left;
    margin-right: 1.5em;
}

.aligncenter{
    margin-right: auto;
    margin-left: auto;
}

.widget{
    float: right;
}

.wp-caption img[class*="wp-image-"]{
    margin-right: auto;
    margin-left: auto;
}

h1.entry-title,h1.page-title{
    margin: 0 0 30px 0 ;
}

h2.page-title{
    margin: 0 0 20px 0 ;
}

.news-title{
    margin: 0 0 10px 0 ;
}

.section-heading{
    margin: 0 0 15px 0 ;
}

h5.widget-title{
    margin: 0 0 20px 0 ;
}

h6.category{
    margin-left: 5px;
}

header .top-bar .top-head-1 .social-icons{
    right: 15px;
}

header .top-bar .top-head-1 .search-top{
    left: 15px;
}

.social-icons li{
    float: right;
}

header .top-bar .social-icons li a{
    margin-left: 5px;
}

header .top-info .social-icons li a{
    float: right;
}

header .search-top{
    float: left;
}

header .search-top label{
    float: right;
}

header .search-submit{
    background: url(images/search.png) no-repeat 100% #000;
}

header .navbar-nav .dropdown-menu .dropdown-menu{
    right: 190px;
}

.pagination li#next-posts{
    float: left;
}

.pagination li#previous-posts{
    float: right;
}

.info ul li{
    padding: 0 0 0 15px ;
}

.info .author-image{
    float: right;
    margin-left: 10px;
}

figure.feature-image{
    padding: 0 0 30px 0 ;
}

.home-pages .page-home-summary{
    right: 0;
    left: 0;
}

.news-snippet{
    float: right;
}

.news-snippet .summary{
    float: right;
}

.news-snippet .featured-image{
    padding-right: 0;
    padding-left: 0;
}

.list-view .news-snippet .featured-image{
    float: right;
}

.list-view .sticky .news-snippet .featured-image{
    padding-left: 0;
}

.sticky:after{
    left: 10px;
}

.full-width-view .news-snippet{
    padding-left: 0;
}

.full-width-view .news-snippet .summary{
    float: right;
}

.slider-banner-1 .banner-news-caption{
    left: 0;
}

.slider-banner-2 .banner-news-caption{
    left: 0;
    right: 65%;
}

.slider-banner-3 .banner-news-caption{
    right: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 100% 100%);
}

.owl-carousel .owl-nav .owl-prev{
    float: right;
}

.owl-carousel .owl-nav .owl-next{
    float: left;
}

.featured-blog .news-snippet .summary{
    padding: 15px 0 30px 0 ;
}

.featured-blog-view-2 .news-snippet .summary{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 100% 100%);
}

.featured-blog-view-3 .news-snippet .summary{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 100% 100%);
}

.overlay{
    left: 0;
    right: 0;
}

footer.main h5.widget-title{
    margin: 0 0 15px 0 ;
}

footer.main .contact-list i{
    margin-left: 10px;
}

footer.main .social-networks li{
    margin-left: 15px !important;
}

footer.main .contact-list li{
    padding: 9px 0 8px 0 ;
}

footer.main .widget,footer.main .about-wrapper{
    float: right;
    padding-left: 30px;
}

.inside-page{
    padding: 30px 0 60px 0 ;
}

.comments-area footer{
    text-align: right;
}

.widget ul,   .widget ol{
    padding-right: 0;
}

.widget li{
    float: right;
}

.widget .widgets-list-layout-links{
    float: right;
    padding-right: 15px;
}

.widget_archive li,.widget_categories li{
    text-align: left;
}

.widget_archive li a,.widget_categories li a{
    float: right;
}

.widget_search label{
    float: right;
}

.bttk-author-bio-holder .text-holder{
    padding: 0 20px 15px 20px ;
}

.widget_bttk_custom_categories ul li{
    padding: 0 15px 0 0 ;
}

.widget-newsletter .widget h5{
    margin: 0 0 20px 0 ;
}

.widget-newsletter .blossomthemes-email-newsletter-wrapper form input[type="text"],.widget-newsletter .blossomthemes-email-newsletter-wrapper form input[type="email"]{
    margin: 0 0 0 1% ;
}

.widget-instagram .owl-carousel .owl-nav .owl-prev{
    float: right;
    margin-right: 15px;
}

.widget-instagram .owl-carousel .owl-nav .owl-next{
    float: left;
    margin-left: 15px;
}

.widget-instagram ul li .instagram-meta{
    right: 50%;
}

.widget-instagram .profile-link{
    right: 50%;
}

.widget-instagram ul li:after{
    right: 0;
}

.scroll-top-wrapper{
    left: 30px;
}

.author-post{
    padding: 30px 30px 15px 30px ;
}

.author-post .author-image{
    float: right;
}

@media (max-width: 767px){
    header .navbar-nav .caret{
        left: 0;
        background: url(images/arrow.png) right center/20px center no-repeat #333;
    }

    .navbar-nav .dropdown-menu .dropdown-menu{
        right: 0;
    }

    .navbar .navbar-toggle{
        left: 0;
        margin-left: 0;
    }

    .navbar .dropdown-menu .menu-item-has-children{
        background: url(images/drop.png) left 15px center no-repeat;
    }

    header .nav-one .navbar-nav > li{
        float: right;
    }

    header .nav-one .navbar-nav{
        text-align: right;
    }

    header .top-bar .top-head-1 .social-icons, header .top-bar .top-head-1 .search-top{
        right: 0;
    }

    .slider-banner-1 .banner-news-caption,.slider-banner-2 .banner-news-caption,.slider-banner-3 .banner-news-caption{
        right: 0;
        left: 0;
    }

}



