/*
Theme Name: Bootstrap Blog
Theme URI: https://thebootstrapthemes.com/downloads/free-bootstrap-blog-wordpress-theme/
Author: thebootstrapthemes
Author URI: http://thebootstrapthemes.com
Description: Bootstrap Blog is a free WordPress blog theme.  It is perfect for lifestyle & travel bloggers, style guides, personal blogging / portfolio, feminine, traveller, journal, music band & singers, food photography & photographers,  writers, fashion designer, interior designers, photo gallery, wedding, ecommerce, chic female blogs and more. Even Though the theme is packed with loads of features, it is very light weight. It is very easy to use and customize with live preview. It supports Woocommerce plugin and is SEO optimized.   Theme Details:https://thebootstrapthemes.com/downloads/free-bootstrap-blog-wordpress-theme/,   Theme Demo: https://thebootstrapthemes.com/preview/?demo=bootstrap-blog
Version: 1.0.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bootstrap-blog
Tags: right-sidebar, portfolio, e-commerce, theme-options, featured-images, rtl-language-support, grid-layout, editor-style, custom-header, threaded-comments, custom-background, custom-colors, blog, footer-widgets, custom-logo, custom-menu

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

bootstrap-blog is based on Underscores http://underscores.me/, (C) 2012-2015 thebootstrapthemes.
bootstrap-blog is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/



html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    padding: 15px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;line-height: 1.35em !important;
}
p {
    margin-bottom: 1.5em;
}
dfn,
cite,
em,
i {
    font-style: italic;
}
blockquote {
    margin: 0 1.5em;
}
address {
    margin: 0 0 1.5em;
}
pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}
abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}
big {
    font-size: 125%;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    
    box-sizing: inherit;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}
blockquote,
q {
    quotes: "" "";
}
blockquote{
    border: none;
    margin: 30px 0;
    text-align: center;
    border-top: 5px solid #eee;
    border-bottom: 5px solid #eee;
    padding: 30px 0;
    font-size: 1.5em;
    font-style: italic;
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
ul,
ol {
    margin: 0 0 1.5em 3em;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em 1.5em;
}
img {
    height: auto;
    /* Make sure images are scaled correctly. */
    
    max-width: 100%;
    /* Adhere to container width. */
}
table {
    margin: 0 0 1.5em;
    width: 100%;
}
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
    color: royalblue;
}
a:visited {
    color: purple;
}
a:hover,
a:focus,
a:active {
    color: midnightblue;
}
a:focus {
    outline: thin dotted;
}
a:hover,
a:active {
    outline: 0;
}
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}
.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.main-navigation li {
    float: left;
    position: relative;
}
.main-navigation a {
    display: block;
    text-decoration: none;
}
.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 1.5em;
    left: -999em;
    z-index: 99999;
}
.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}
.main-navigation ul ul a {
    width: 200px;
}
.main-navigation ul ul li {} .main-navigation li:hover > a,
.main-navigation li.focus > a {} .main-navigation ul ul:hover > a,
.main-navigation ul ul .focus > a {} .main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {} .main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {}
/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}
@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}
/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
    outline: 0;
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
    margin: 0 0 1.5em;
}
/* Make sure select elements fit in widgets. */

.widget select {
    max-width: 100%;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}
.hentry {
    margin: 0 0 1.5em;
}
.byline,
.updated:not(.published) {
    display: none;
}
.single .byline,
.group-blog .byline {
    display: inline;
}
.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}
/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}
.bypostauthor {
    display: block;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
/* Older / Newer Posts Navigation (always hidden) */

.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    
    display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
    display: block;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    max-width: 100%;
}
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}
.wp-caption-text {
    text-align: center;
}
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
}
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-caption {
    display: block;
}
/*--------------------------------------------------------------
## Main style starts here
--------------------------------------------------------------*/




body {
    font: 400 14px/22px Droid Serif;
    color: #333;
    background-color: #fff;
}
.btn {
    color: #fff !important;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    padding: 5px 25px;
}
a,
a:visited {
    color: #333;
    text-decoration: none;outline: 0;
}
a:hover,a:focus {
    color: #666;text-decoration: none;outline: 0;
}
img,
input,
a.readmore,
a.readmore:hover,
a.readmore:active,
a.readmore:focus {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: 0;
}
label{display: block;}
input, select, textarea {font-size: 1em;padding: 8px;font-weight: normal;width: 100%;border: 1px solid #e0e0e0;}



h1.entry-title,h1.page-title{margin: 0 0 30px 0;}
h2.page-title{margin: 0 0 20px 0;}
.news-title{margin: 0 0 10px 0;}
.section-heading{margin: 0 0 15px 0;}

h5.widget-title{margin: 0 0 20px 0;}
h6.category{display: inline-block;margin-top: 0;margin-right: 5px;margin-bottom: 15px;}
h6.category a{color:#888;}
h6.category a:hover{color: #000;}

a.readmore {font-size: 11px;text-transform: uppercase;letter-spacing: 1px;font-weight: 600;}
a.readmore:hover{color: #999;}
.spacer {padding-top: 60px;padding-bottom: 60px;}
#container{max-width: 1200px;width: 100%;}

header{background-color: #fff;border: none;}


header .top-head .logo{align-items: center;display: -webkit-flex;}



header .top-bar {padding: 30px 0;background-position: center;background-size: cover;background-repeat: no-repeat;}

header .top-bar .top-head-1{display: flex}
header .top-bar .top-head-1 .social-icons,header .top-bar .top-head-1 .search-top{position: absolute;top: 50%;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);transform: translateY(-50%);}
header .top-bar .top-head-1 .social-icons{left: 15px;}
header .top-bar .top-head-1 .search-top{right: 15px;}
header .top-bar .top-head-1 .logo{display: inline-block;}

.social-icons ul{margin: 0;}
.social-icons li{padding: 0;float: left;}
header .top-bar .social-icons li a{border-radius: 0;width: 35px;background-color: #000;line-height: 27px;display: inline-block;padding: 4px;width: 35px;color: #fff;text-align: center;border-radius: 50%;margin-right: 5px;}
header .top-bar .social-icons li.facebook a{background: #507cbe;}
header .top-bar .social-icons li.twitter a{background: #63ccf1;}
header .top-bar .social-icons li.google-plus a{background: #dc4a38;}
header .top-bar .social-icons li.youtube-play a{background: #dc4a38;}
header .top-bar .social-icons li.linkedin a{background: #2386ef;}
header .top-bar .social-icons li.pinterest a{background: #63ccf1;}
header .top-bar .social-icons li.instagram a{background: #e22291;}

header .top-info .social-icons li a{padding: 8px;border-radius: 0;margin: 0;float: left;color: #ffffffc4;}
header .top-info .search-submit{border-radius: 0;}
header .top-info .search-top .search-field{border:none;}


header .search-top{width: 200px;float: right;}
header .search-top label{float: left;width:160px;display: inline-block;margin-bottom: 0;}
header .search-top .search-field{ width:140px;   border: none;background: none;box-shadow: none;border-radius: 0;border-bottom: 1px solid #ddd;}
header .search-submit{width: 38px;padding:8px; border: none;text-indent: -99999px;border-radius: 0;background:url(images/search.png) no-repeat center/50% #000;border-radius: 50%;}



header .navbar-nav > li > a {padding-top: 15px;padding-bottom: 15px;}
header .navbar{margin: 0;border:none;}
header .navbar-nav .dropdown-menu{min-width: 200px;padding: 0;border-radius: 0;margin: 0;}
header .navbar-nav .dropdown-menu .dropdown-menu {top: 0;left:190px; }
header .navbar-nav .dropdown-menu > li > a{padding: 10px 20px;background: none;}

    /*nav-one*/
    header .nav-one{border-top: 1px solid #eee;border-bottom: 1px solid #eee;}
    header .nav-one .navbar-nav > li{display: inline-block;float: none;}
    header .nav-one .navbar-nav{width: 100%;text-align: center;}
    /*nav-one*/


    /*nav-two*/
    .main-nav.nav-two{background: #ececec;}
    header .nav-two .navbar{border-radius: 0;}
    /*nav-two*/


    /*nav-one*/
    header .nav-three{border-top: 1px solid #eee;border-bottom: 1px solid #eee;}
    header .nav-three .navbar-nav > li{display: inline-block;float: none;}
    header .nav-three .navbar-nav{width: 100%;}
    /*nav-one*/



header .logo h1,header .logo h2{margin: 0;}
header .logo h2{font-size: 1em;}
header .sticky-header.fix-top{position: fixed;top: 0;width: 100%;z-index: 1000;background: #fff;}
header .logo img{width:auto;}
.nav > li > a:hover, .nav > li > a:focus{background: none;}
.content-area{margin: 30px 0;}

/*general settings*/
.pagination{display: block;}
.pagination li#next-posts {float: right;}
.pagination li#previous-posts{float: left;}

.breadcrumbs{margin-top: 15px;font-size: 0.85em;color: #aaa;}
.breadcrumbs a{color: #aaa;}
.breadcrumbs nav{margin: 0;}
/*general settings*/


.info{font-size: 0.85em;color: #aaa;margin-bottom: 5px;}
.info ul{margin: 0;}
.info ul li{padding:0 15px 0 0;}
.info a{color: #aaa;}
.info .author-image{float: left;margin-right: 10px;}
.news-snippet .info .author-image img{border-radius: 50%;width: 22px;height: 22px;}

figure.feature-image{padding:0 0 30px 0;}
figure.feature-image img{width: 100%;}
.full-width article{padding: 0 15%;}
.image-title-overlay{position: relative;}
.post-title-overlay{position: absolute;top: 50%;width: 100%;text-align: center;color: #fff;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.post-title-overlay .info,.post-title-overlay  a{color: #fff !important;}
.image-title-overlay figure.feature-image {min-height: 600px;margin-bottom: 30px;background-repeat: no-repeat;background-position: center;background-color: #000;background-size: cover; }

.home-pages .home-pages-block{position: relative;overflow: hidden;min-height: 120px;background: #000;}
.home-pages .home-pages-block img{width: 100%;transform: scale(1);}
.home-pages .home-pages-block img:hover{transform: scale(1.07);} 
.home-pages .page-home-summary{position: absolute;top: 50%;left:0;right:0;text-align: center;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.home-pages .page-home-summary h5.category{padding: 7px 30px;background: #fff;display: inline-block;margin: 0; -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.home-pages .page-home-summary h5.category:hover{padding: 7px 40px;}
.home-pages .page-home-summary h5.category:hover a{color: #fff;}



.news-snippet{border:1px solid #eee;float: left;height: 100%;width: 100%}
.news-snippet .summary{padding: 30px;}


.news-snippet .featured-image{width: 100%;padding-bottom: 30px;padding-left: 0;padding-right: 0;}
.news-snippet .summary{width: 100%;float: left;}



.grid-view {display: grid;grid-template-columns: repeat(2, 1fr);grid-gap: 30px;}
.grid-view .post{position: relative;}
.grid-view .col-sm-12{position: relative;overflow: hidden;}

.list-view {display: grid;grid-template-columns: repeat(1, 1fr);grid-gap: 30px;}
.list-view .col-sm-12{position: relative;overflow: hidden;}
.list-view .news-snippet{border:none;}
.list-view .news-snippet .featured-image{width: 50%;float: left;}
.list-view .news-snippet .summary{width: 50%;padding: 0 30px;}
.list-view .sticky{width: 100%;}
.list-view .sticky .news-snippet .summary{margin: 0 5%;background: #fff;margin-top: -60px;width: 90%;padding: 30px;border:1px solid #eee;}
.list-view .sticky .news-snippet .featured-image{padding-right: 0;width: 100%;}
.sticky{position: relative;}
.sticky:after {
    position: absolute;
    top: -5px;
    right: 10px;
    z-index: 2;
    font-family: 'FontAwesome';
    content: "\f02e";
    font-size: 30px;
    letter-spacing: 0;
    line-height: 1 !important;
}


button.loadmore {display: block;width: 100%;border: none;font-size: 0.75em;padding: 10px;color: #333;text-transform: uppercase;letter-spacing: 1px;font-weight: 600; outline: none;}
button.loadmore:hover{color: #999;}

.full-width-view .news-snippet{width: 100%;margin-bottom: 60px;padding-right: 0;border: none;}
.full-width-view .news-snippet .summary{margin: 0 5%;background: #fff;margin-top: -60px;width: 90%;padding: 30px;float: left;border: 1px solid #eee;position: relative;z-index: 10;}






.slider-banner{padding-bottom: 45px;}
.slider-banner .banner-news-caption {position: absolute;background: #fff;border: 1px solid #eee;padding: 30px;}
.slider-banner .banner-news-caption .summary{margin-bottom: 15px;}

.slider-banner-1 .banner-news-caption{top: 50%;right: 0;width: 35%;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.slider-banner-1 .banner-news-image{width: 75%;}

.slider-banner-2 .banner-news-image {width: 65%;}
.slider-banner-2 .banner-news-caption{top: 0;right: 0;bottom: 0;left: 65%;color: #fff;background-color: #000;border: none;}
.slider-banner-2 .banner-news-caption h3 a,.slider-banner-2 .banner-news-caption .fa-clock-o:before{color: #fff !important;}


.slider-banner-3 .banner-news-caption {position: absolute;bottom: 0;left: 0;border: none;color: #fff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */}
.slider-banner-3 .banner-news-caption h3 a,.slider-banner-3 .banner-news-caption h6.category a,.slider-banner-3 .banner-news-caption .info,.slider-banner-3 .banner-news-caption .fa-clock-o:before{color: #fff;}


.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}
.owl-carousel .owl-nav .owl-prev{float: left;}
.owl-carousel .owl-nav .owl-next{float: right;}
.owl-dots{text-align: center;}
.owl-dots .owl-dot{background-color: #ccc;height: 6px;width: 6px;display: inline-block;margin: 0 2px;border-radius: 50%;}
.owl-dots .owl-dot.active{background-color: #333;}


/*featured-blog*/
.featured-blog{padding:30px 0;}
.featured-blog .news-snippet{border: none;}
.featured-blog .news-snippet img{width: 100%;}
.featured-blog .news-snippet .summary{padding: 15px 0 30px 0;}

.featured-blog-view-1{display: grid;grid-template-columns: 2fr 1fr 1fr;grid-gap: 30px;}
.featured-blog-view-1 .featured-blog-items .summary-excerpt{display: none;}
.featured-blog-view-1 .featured-blog-items:first-child .summary-excerpt{display: block;}
.featured-blog-view-1 .featured-blog-items:first-child {grid-row-start: 1;grid-row-end: 4;}

.featured-blog-view-2{display: grid;grid-template-columns: 1fr 2fr 1fr;grid-gap: 0;}
.featured-blog-view-2 .news-snippet{position:relative;background-color: #000;}
.featured-blog-view-2 .news-snippet h3 a,.featured-blog-view-2 .news-snippet .fa-clock-o:before{color:#fff;}
.featured-blog-view-2 .news-snippet .summary{position:absolute;bottom:0;color#fff;padding: 15px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */}
.featured-blog-view-2 .featured-blog-items:nth-child(2) {grid-row: span 2;}
.featured-blog-view-2 .featured-blog-items:nth-child(2) .summary{padding: 30px;}
.featured-blog-view-2 .summary-excerpt {display: none;}
.featured-blog-view-2 .featured-blog-items:nth-child(2) .summary-excerpt {display: block;color: #fff;}

.featured-blog-view-3 .news-snippet{position:relative;background-color: #000;}
.featured-blog-view-3{display: grid;grid-template-columns: 2fr 1fr 1fr;}
.featured-blog-view-3 .featured-blog-items .summary-excerpt{display: none;}
.featured-blog-view-3 .featured-blog-items:first-child .summary-excerpt{display: block;}
.featured-blog-view-3 .featured-blog-items:first-child {grid-row-start: 1;grid-row-end: 4;}
.featured-blog-view-3 .news-snippet h3 a,.featured-blog-view-3 .news-snippet .fa-clock-o:before{color:#fff !important;}
.featured-blog-view-3 .news-snippet .summary{position:absolute;bottom:0;color#fff;padding: 15px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */}
.featured-blog-view-3 .featured-blog-items:first-child .summary{padding: 30px;color: #fff;}



/*featured-blog*/



.shop-home{color: #fff;}
.shop-home h5 a{color: #fff;}
.woocommerce ul.products li.product .price{color: #333;}


/*blog*/
.sidebar-blog{box-shadow: 300px 0 0 #f5f5f5, 680px 0 0 #f5f5f5, 1030px 0 0 #f5f5f5, 1380px 0 0 #f5f5f5, 1730px 0 0 #f5f5f5, 2080px 0 0 #f5f5f5, 2430px 0 0 #f5f5f5, 2780px 0 0 #f5f5f5, 3130px 0 0 #f5f5f5;background: #f5f5f5;}


/*testimonials*/
.testimonials{background:url(images/quote.png) no-repeat  center 10px #f7f7f7;background-size: 100px}
.testimonials .owl-item{text-align: center;padding: 0 5%;border-radius: 5px;margin-bottom: 0;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.testimonials .owl-dots{text-align: center;}
.testimonials .owl-dot {background: #ccc;height: 2px;width: 10px;display: inline-block;margin: 0 3px;}
.testimonials .owl-dot.active {background: #888;}
.testimonials .owl-item.active{opacity: 1;}
.testimonials .owl-item img{width: 100px;display: inline-block;border-radius: 50%;height: 100px;padding: 7px; }
.testimonials .owl-item .testimonial-meta{margin-top: 10px;}
.testimonials .owl-item .testimonial-meta .name{display: block;font-size: 17px;font-weight: 600;}
.testimonials .owl-item .testimonial-meta .designation{display: block;color: #aaa;margin-bottom: 15px;font-weight: 400;}
.testimonials .owl-dot{margin-top: 15px;width: 7px; height: 7px;transform: rotate(45deg);}
/*testimonials*/

.woocommerce .woocommerce-breadcrumb{display: none;}

section.about-us {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    color: #fff;
    position: relative;
    background-attachment: fixed;
}
section.about-us .inside-wrapper{padding: 0 10%;text-align: center;position: relative;z-index: 10;}
.overlay{position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: #000C;z-index: 1;}



section.main-content{padding-top: 60px;}

small.date{color: #aaa;}

footer.main{padding: 45px 0; margin-top: 0;font-weight:300;}
footer.main h5.widget-title{margin: 0 0 15px 0;font-weight: 600;}
footer.main ul{margin: 0;}
footer.main .contact-list i{margin-right: 10px;color: #fff;background: #1cb0ce;height: 25px;width: 25px;border-radius: 50%;font-size: 15px;text-align: center;line-height: 25px;}
footer.main .widget li{border-bottom: 1px solid #ffffff1a;}

footer.main .social-networks li {border: none;margin-right: 15px !important;color: #fff;background: #1cb0ce;height: 30px;width: 30px;border-radius: 50%;font-size: 15px;text-align: center;line-height: 30px;padding: 0;margin-top: 15px !important;}
footer.main .contact-list li {padding: 9px 0 8px 0;}
footer.main .widget,footer.main .about-wrapper{margin-bottom: 0;float: left;width: 25%;padding-right: 30px;}


/*inside page*/
.inside-page{padding:30px 0 60px 0;}
.home-archive{padding-top: 60px;padding-bottom: 0;}


    .comments-area {
        margin-top: 30px;
    }
    .comments-area h2 {
        margin-bottom: 15px;
        font-size: 19px;
        border: none;
        margin-top: 45px;
    }
    .comments-area ol {
        margin: 0;
        list-style: none;
    }
    .comments-area ol.comment-list {
        padding: 0;
    }
    .comments-area ol.comment-list article {
        margin-bottom: 15px;
        background: #fff;
        padding: 30px;
        border-radius: 5px;
        border: 1px solid #eee;
    }
    .comments-area footer {
        background: none;
        padding: 0;
        text-align: left;
        color: #666;
            margin: 0 !important;
    }
    .comments-area footer a{color: #333 !important;}
    .comments-area .comment-form label,
    .comments-area .comment-form input {
        display: block;
        font-weight: 300;
    }
    .comments-area .comment-form input,
    .comments-area .comment-form textarea {
        border: 1px solid #ddd;
        border-radius: 0;
        box-shadow: none;
        padding: 10px;
        width: 100%;
    }
    .comments-area .comment-form .form-submit input {
        background: #333;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        border: none;
    }
    .comment-metadata {
    font-size: 0.8em;
    }
    /*widget*/
    
    .widget {
        margin-bottom: 45px;
        float: left;
        width: 100%;
        position: relative;
    }
   
    .widget ul,
    .widget ol {
        margin: 0;
        padding-left: 0;
        list-style: none;
    }
    .widget li{
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0 !important;}
    .widget .widgets-list-layout-links {
    float: left;
    width: 80.404255%;
    line-height: 19px;padding-left: 15px;
    }
    .widget_archive li,.widget_categories li{text-align: right;}
    .widget_archive li a,.widget_categories li a{float: left;}


    .widget_search{background: #ccc;padding: 30px;}
    .widget_search label{width: 78%;float: left;}
    .widget_search input.search-field{padding:8px 5%;border:none;width: 90%;}
    .widget_search input.search-submit{border: none;background: url(images/search.png) center no-repeat;color: #fff;width: 22%;background-size: 25px;text-indent: -9999px;}

    .jetpack_subscription_widget {background: #333;padding: 30px;color: #fff;}
    .jetpack_subscription_widget h3.widget-title{color: #fff;}
    .widget #subscribe-email input{width: 100%;}

    .widget_wpcom_social_media_icons_widget li{float: none;}
    .widget_wpcom_social_media_icons_widget li a{font-size:1.75em;}
    .widget_wpcom_social_media_icons_widget li a.genericon-facebook{color: #507cbe;}
    .widget_wpcom_social_media_icons_widget li a.genericon-twitter{color: #63ccf1;}
    .widget_wpcom_social_media_icons_widget li a.genericon-instagram{color: #e22291;}
    .widget_wpcom_social_media_icons_widget li a.genericon-pinterest{color: #63ccf1;}
    .widget_wpcom_social_media_icons_widget li a.genericon-linkedin{color: #2386ef;}
    .widget_wpcom_social_media_icons_widget li a.genericon-youtube{color: #dc4a38;}
    .widget_wpcom_social_media_icons_widget li a.genericon-googleplus{color: #dc4a38;}


/*widget*/

.widget .entry-meta a,.widget .post-date{color: #aaa;font-size: 0.85em;display: block;}
/*.widget h3.entry-title a{color: #333;}
*/.widget_bttk_posts_category_slider_widget .carousel-title .title{margin: 0;}
.widget_bttk_posts_category_slider_widget .carousel-title .title a{color: #333;}
.widget_bttk_posts_category_slider_widget .owl-theme .owl-dots .owl-dot span{display: none;}
.widget_bttk_author_bio .author-socicons li {display: inline-block;margin: 3px;width: auto;float: none;border: none;padding: 5px;}
.text-signature {font-family: 'Lovers Quarrel', cursive;font-size: 45px;color: #333;margin-bottom: 10px;border-bottom: 1px solid #eee;padding-bottom: 25px;}
.bttk-author-bio-holder {border: 1px solid #eee;}

.widget_bttk_custom_categories ul li{padding: 0 0 0 15px;}
.widget_bttk_custom_categories ul li .cat-title{padding-top: 10px;}
.widget .owl-theme .owl-nav{width: 100%;top: 0;}
.widget_bttk_social_links ul li{border: none;padding: 1px;display: inline-block;width: 25%;}
.widget_bttk_social_links ul li a{display: inline-block;width: 100%;}


.widget-newsletter{background-color: #eee;text-align: center;}
.widget-newsletter .widget{margin: 0;}
.widget-newsletter .widget h5 {margin: 0 0 20px 0;font-size: 2.5em;}
.widget-newsletter .blossomthemes-email-newsletter-wrapper{overflow: hidden;padding:0 10%;background: none !important;}


.widget-newsletter .blossomthemes-email-newsletter-wrapper form input[type="text"],.widget-newsletter  .blossomthemes-email-newsletter-wrapper form input[type="email"]{width: 70%;margin: 0 1% 0 0;border:none;}
.widget-newsletter .blossomthemes-email-newsletter-wrapper form input[type="submit"]{width:20%;color: #fff;border:none;}
.blossomthemes-email-newsletter-wrapper .text-holder h3{font-size: 1em; margin: 0 0 30px;font-weight: 400;color: #888;}

.widget-instagram .photos-5 {display: none;}
.widget-instagram .owl-carousel{display:block;}


.widget ul.photos-5 li {
    float: none;
    width: 100%;
    height: auto;
    padding: 0;
    border: none;
    position: relative;
    overflow: hidden;
}
.widget .profile-link{width: 100%;display: block;text-align: center;color: #fff;padding: 7px 25px;margin-top: 5px;}




.widget-instagram {position: relative;margin: 1px 0;overflow: hidden;}
.widget-instagram .widget{margin: 0;}
.widget-instagram ul{margin: 0 !important; padding: 0; position: relative;list-style: none;}
.widget-instagram .owl-nav{top: 50%;width: 100%;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);transform: translateY(-50%);}

.widget-instagram .owl-carousel .owl-nav .owl-prev{float: left;background: url(images/left.png) no-repeat center;margin-left: 15px;}
.widget-instagram .owl-carousel .owl-nav .owl-next{float: right;background: url(images/right.png) no-repeat center;margin-right: 15px;}
.widget-instagram .owl-carousel .owl-nav .owl-prev,.widget-instagram .owl-carousel .owl-nav .owl-next {
    background-color: #000000c4;
    background-size: 20px;
    text-indent: -10000px;
    overflow: hidden;
    height: 40px;
    width: 30px;
}
.widget-instagram .owl-carousel .owl-item{height: 200px;background-color: #000;}
.widget-instagram .owl-carousel .owl-nav .owl-prev.disabled,.widget-instagram .owl-carousel .owl-nav .owl-next.disabled {background-color: #616161c4;opacity: 0.3;}
.widget-instagram ul li .instagram-meta {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 12px;
    left: 50%;
    letter-spacing: 1px;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    transition: ease 0.2s;
    z-index: 100;
    width: 100%;
    display: block !important;
    bottom: auto;
    background:none;
}
.widget-instagram ul li:hover .instagram-meta{
    top: 50%;
    
    }
.widget-instagram ul .instagram-meta span{margin: 0 10px;}
.widget-instagram .profile-link{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    transition: ease 0.2s;
    border-radius: 25px;
    border: 3px solid #fff;
    width: auto;
    background: #000;
    padding: 7px 25px;
    color: #fff;
}

.widget-instagram ul li:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity: 0;
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    transition: ease 0.2s;
}

.widget-instagram ul li:hover:after, .widget-instagram ul  li:focus:after{opacity: 1;}
.widget_btif_instagram_widget ul li .instagram-meta{display: none;}
.widget_btif_instagram_widget ul.photos-5 li{width: 100%;border: none;margin: 0 !important;    padding: 0 !important;}
.widget_btif_instagram_widget ul li .instagram-meta .fa-comment{float: none;}

.scroll-top-wrapper {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background:rgba(0,0,0,0.5);
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
        cursor: pointer;
}
.scroll-top-wrapper .fa-2x{font-size: 18px;}
.copyright{padding: 30px 0;}

.author-post {border: 1px solid #eee;padding: 30px 30px 15px 30px;margin: 30px 0;}
.author-post .author-image{float: left;width: 75px;}
.author-post .author-image img.photo{border-radius: 50%;}
.author-post .author-details{overflow: hidden;padding:0 30px;}
.author-post .author-details h4{margin-bottom: 15px;}
.author-post .author-details p{color:#999;}







    @media (max-width: 991px) {
       
       
    }
    @media (max-width: 767px) {
        h1{font-size: 24px !important;}
        h2{font-size: 22px !important;}
        h3{font-size: 20px !important;}
        h4{font-size: 18px !important;}
        h5{font-size: 14px !important;}
        h6{font-size: 12px !important;}

        header .navbar .navbar-nav>li>a {
            padding: 8px;
        }
        header .dropdown-menu > li > a{padding: 8px;border-bottom: 1px solid #ddd;}
        header .navbar-nav {
            display: block;
            margin: 0;
            width: 100%;
        }
        header .navbar-nav .dropdown-menu {
            position: inherit;width: 100%;    background: #e7e7e7;box-shadow: none;border: none;
        }
        header .navbar-nav .caret{position:absolute; top: 0; right: 0; width: 45px;height: 36px;background:url(images/arrow.png) center/20px no-repeat #333;border: none;}
        header .navbar-nav .open .dropdown-menu {
            display: block !important;
        }
        
        header .navbar-nav > li{display: block;border-bottom: 1px solid #eee;}
        header .navbar-nav > li:last-child{border:none;}
        .navbar-nav .dropdown-menu .dropdown-menu{left: 0;}
        .navbar .navbar-toggle {
            right: 0;
            background: #333;
            border: none;
            border-radius: 0;
            border:none;
            margin-right: 0;
        }
        .navbar .navbar-toggle .icon-bar {
            background-color: #fff;
        }
        .navbar .navbar-collapse,
        .navbar .navbar-form {
            border: none;
            width: 100%;box-shadow: none;
            padding:0;margin: 0;
        }
        .navbar .dropdown-menu .menu-item-has-children{background: url(images/drop.png) right 15px center no-repeat;background-size:15px; }
        .navbar .dropdown-menu .dropdown-menu{background:#eee;}

/*        .nav-four .navbar-nav > li{display: block;}
        .nav-four .navbar-nav{width: 100%;text-align: left;}*/

        header .nav-one .navbar-nav > li{display: block;float: left;width: 100%;}
        header .nav-one .navbar-nav{text-align: left;}

        header .top-bar .top-head-1{display: block;}
        header .top-bar .top-head-1 .logo{padding: 15px 0;display: block;}
        header .top-bar .top-head-1 .social-icons, header .top-bar .top-head-1 .search-top{position: relative;transform: translateY(0%);top: 0;left: 0; text-align: center;width: 100%;}
        .social-icons li{float: none;}
        header .search-top label{float: none;}




        footer.main .widget{width: 100%;padding: 0;margin-bottom: 60px;}
        .grid-view{display: block;overflow: hidden;}

        .spacer{padding-top: 30px;padding-bottom: 30px;}   
        .widget-area{margin-top:90px;}
        .widget-newsletter .blossomthemes-email-newsletter-wrapper{padding: 0;}

        .slider-banner-1 .banner-news-image,.slider-banner-2 .banner-news-image{width: 100%;}
        .slider-banner-1 .banner-news-caption,.slider-banner-2 .banner-news-caption,.slider-banner-3 .banner-news-caption{position: relative;left: 0; right: 0; top: 0;transform: translateY(0);width: 100%;padding: 15px;}
        .slider-banner-3 .banner-news-caption{background: #000;}

        .featured-blog-view-1,.featured-blog-view-2,.featured-blog-view-3{display: block;}
        .featured-blog-view-3 .featured-blog-items:first-child .summary-excerpt,.featured-blog-view-2 .featured-blog-items:nth-child(2) .summary-excerpt{display: block;}

    }


.breadcrumbs .trail-browse,
.breadcrumbs .trail-items,
.breadcrumbs .trail-items li {
    display:     inline-block;
    margin:      0;
    padding:     0;
    border:      none;
    background:  transparent;
    text-indent: 0;
}

.breadcrumbs .trail-browse {
    font-size:   inherit;
    font-style:  inherit;
    font-weight: inherit;
    color:       inherit;
}

.breadcrumbs .trail-items {
    list-style: none;
}

.trail-items li::after {
    content: "\002F";
    padding: 0 0.5em;
}

.trail-items li:last-of-type::after {
    display: none;
}
